* {
	font-size  : 1em;	
}

body {
	font-size  : small;
	line-height:   1em;
	margin     : 0.2em;
}

h1 {
	margin   : 0;
	padding  : 0;
	color: #fff;
}
/* PENDING */ 
h1 a{
	color: #fff;
}

h5 {
	font-size  : x-small;
	margin :0.2em 0 0;
	padding:0;
}
h5 a:link {/*未訪問のリンク*/
	color:#fff;
	font-style:normal;
	text-decoration:underline;
}
h5 a:visited {/*訪問後のリンク*/
	color:#aaa;
	text-decoration:underline;
}


div.textarea{
	padding-right: 0.4em;
}

textarea {
	width : 100%;
	height: 5em;
}

input.submitbutton{
	width    : 3em;
	height   : 1.5em;
	font-size: 2em;
}

input.text{
	width: 16em;
}

input.file{
	width: 14em;
}

div.line{
	padding-left :  2.9em;
	text-indent  : -2.9em;
	white-space  : pre-wrap;
	word-break   : break-all;
	background-color: #fff;
}

span.time {
	font-size: 0.6em;
}

div.navi {
	margin-top: 0.2em;
	font-size: xx-small;
}

div.navi a:link {/*未訪問のリンク*/
	color:#fff;
	font-style:normal;
	text-decoration:underline;
}
div.navi a:visited {/*訪問後のリンク*/
	color:#ccc;
	text-decoration:underline;
}

