<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>タスク</title>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a></h1>

<p>
	{% if g.user %}
	<span>{{ g.user['username'] }}</span>
	<a href="{{ url_for('auth.logout') }}">Log Out</a>
	{% else %}
	<a href="{{ url_for('auth.register') }}">Register</a>
	<a href="{{ url_for('auth.login') }}">Log In</a>
	{% endif %}
	{% if sort %}
	<a href="{{ url_for('task.index', sort='', **search) }}">登録順完了順</a>
	{% else %}
	<a href="{{ url_for('task.index', sort='rate', **search) }}">重要度順</a>
	{% endif %}
	{{ search['owner'] }} {% if search['rate'] %}{{ stars[search['rate']|int] }}{% endif %} {{ search['tag'] }}
</p>
<form method="post" action="{{ url_for('task.create') }}">
	<a href="{{ url_for('task.create', owner=search['owner'], tag=search['tag']) }}">New</a>

	<label for="title">Title</label>
	<input name="title" id="title" style="width:100em;" value="{{ request.form['title'] }}" required>
	<input type="submit" value="Save">

	<input type="hidden" name="owner" id="owner" value="{{ search['owner'] }}">
	<input type="hidden" name="tag" id="tag" value="{{ search['tag'] }}">
	<input type="hidden" name="body" id="body" value="">
	<input type="hidden" name="sort" id="sort" value="{{ sort }}">
	<input type="hidden" name="ret" id="ret" value="on">
</form>


{% for key, value in tasks.items() %}

<hr>
{{ key }}<br>

{% for task in value %}

{% if task['状態'] == '完' %}
<a href="{{ url_for('task.restore', number=task['連番'], sort=sort, **search) }}">☑</a>
{% else %}
<a href="{{ url_for('task.done', number=task['連番'], sort=sort, **search) }}">☐</a>
{% endif %}


<a href="{{ url_for('task.index', owner=task['所有者'], rate=search['rate'], tag=search['tag']) }}">{{ task['所有者'] }}</a>
<a href="{{ url_for('task.ratedown', number=task['連番'], sort=sort, **search) }}">⊟</a>
<a href="{{ url_for('task.index', owner=search['owner'], rate=task['重要度'], tag=search['tag']) }}">{{ stars[task['重要度']] }}</a>
<a href="{{ url_for('task.rateup', number=task['連番'], sort=sort, **search) }}">⊞</a>
{% if task['完了日時'] %}
{{ task['完了日時'] }}
{% else%}
{{ task['追加日時'] }}
{% endif %}
<a title="{{ task['備考'] }}" href="{{ url_for('task.update', number=task['連番']) }}">{{ task['タスク名'] }}</a>
{% for tag in tags[task['連番']] %}
<a href="{{ url_for('task.index', tag=tag, owner=search['owner'], rate=search['rate']) }}">#{{ tag }}</a>
{% endfor %}
{% if task['備考'] %}
※
{% endif %}
<br>

{% endfor %}
{% endfor %}

</body>
</html>
