<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>タスク</title>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a></h1>

<p>
	{{ search['owner'] }} {% if search['rate'] %}{{ stars[search['rate']|int] }}{% endif %} {{ search['tag'] }}<br>
	<a href="{{ url_for('task.create', owner=search['owner'], tag=search['tag']) }}">New</a>
</p>

{% for key, value in tasks.items() %}

<hr>{{ key }}<br>

{% for task in value %}

{% if task['状態'] == '完' %}
	<a href="{{ url_for('task.restore', number=task['連番']) }}">☑</a>
{% else %}
	<a href="{{ url_for('task.done', number=task['連番']) }}">☐</a>
{% endif %}


<a href="{{ url_for('task.index', owner=task['所有者'], rate=search['rate'], tag=search['tag']) }}">{{ task['所有者'] }}</a>
<a href="{{ url_for('task.ratedown', number=task['連番'], **search) }}">⊟</a>
<a href="{{ url_for('task.index', owner=search['owner'], rate=task['重要度'], tag=search['tag']) }}">{{ stars[task['重要度']] }}</a>
<a href="{{ url_for('task.rateup', number=task['連番'], **search) }}">⊞</a>
{% if task['完了日時'] %}
{{ task['完了日時'] }}
{% else%}
{{ task['追加日時'] }}
{% endif %}
<a title="{{ task['備考'] }}" href="{{ url_for('task.update', number=task['連番']) }}">{{ task['タスク名'] }}</a>
{% for tag in tags[task['連番']] %}
<a href="{{ url_for('task.index', tag=tag, owner=search['owner'], rate=search['rate']) }}">#{{ tag }}</a>
{% endfor %}
{% if task['備考'] %}
※
{% endif %}
<br>

{% endfor %}
{% endfor %}

</body>
</html>
