<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>タイムライン</title>
</head>
<body>

<h1>タイムライン</h1>

{% set day = {'current':''} %}
{% for data in datalist %}
	{% if day.current != data.datetime.date() %}
		{% if day.update({'current': data.datetime.date()}) %} {% endif %}
		{{ day.current }}
	{% endif %}
	<div class="line">
		<span class="time">
			<a href="">{{ data.datetime.time()}}</a>
		</span>
		{{ data.body | linebreaksbr }}
		{{ data.tags }}
	</div>
{% endfor %}

</body>
</html>
